body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
    background-color: #eaeaef;
}

header div {
    float: left;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
}

.logo a {
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #060613;
    font-size: 2rem;
    letter-spacing: 1;
    margin-left: 10px;
    text-decoration: none;
    order: 2;
}

.logo img {
    height: 70px;
    width: auto;
    display: block;
    order: 1;
    
}

header .nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 150px;
}

header .nav ul {
    list-style: none;
}

header .nav ul li {
    float: left;
    padding-right: 40px;
    padding-top: 10px;
}

header .nav ul li a {
    text-decoration: none;
    color: rgb(19, 3, 3);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

header .nav ul li a:hover {
    color: #dbdde3;
    background-color: #060613;
    transition: 0.5s;

}

/*SECTION  STYLES*/
section {
    background-color: #f9f9ff;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.half1, .half2{
    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.half2{
    padding-right: 50px;
    margin-top: 50px;
}
.half2 img{
    width: auto;
    height: 400px;
    border-radius: 10px ;
}

.half1 h3{
    font-weight: normal;
}
.half1 h1{
    font-size: 60px;
}
.half1 p{
    color: rgba(78, 78, 78, 0.7);
}
.half1 input{
    padding: 12px 25px;
    background-color: #8393ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
    cursor: pointer;
}
.half1 input:hover{
    box-shadow:5px 10px 30px rgba(130,147,255, 0.5);
    transition: all 0.5s ease-in 0.1s;
    outline: none;
}
/*sECTION oNE eND*/

/*sECTION tWO sTART*/
.section2{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 div{
    width: 40%;
    margin: 0 auto;
}
.section2 img{
    width: auto;
    height: 400px;
    border-radius: 10px ;
}

.section2 .img2{
    padding-left: 150px;
    
}
.text2 h3{
    font-weight: normal;
    color: rgba(0,0,0, 0.7);
    font-size: 15px;
}
.text2 h1{
    font-weight: bold;
    font-size: 40px;
}
.text2 p{
    font-size: 16px;
    color: rgba(0,0,0,0.6);
    width: 80%;
}
.text2 input{
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    color: white;
    background-color: #8293ff;
    border: none;
}
.text2 input:hover{
    box-shadow:5px 10px 30px rgba(130,147,255, 0.5);
    transition: all 0.5s ease-in 0.1s;
    outline: none;
}
/*Section two end */


.section3{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text3 h1{
text-align: center;
align-items: center;
font-size: 40px;
}

.text3 p{
    text-align: center;
    align-items: center;
    width: 70%;
    font-size: 16px;
    padding-left: 150px;
}